NUXT_PUBLIC_APP_NAME=Nuxt Application
NUXT_PUBLIC_ERROR_REPORTING_ENABLED=true

# Error reporting settings
NUXT_ERROR_REPORTING_TRUST_PROXY=false

# Error notification settings
NUXT_ERROR_NOTIFY_ENABLED=false

# Slack notification settings
NUXT_ERROR_NOTIFY_SLACK_ENABLED=false
NUXT_ERROR_NOTIFY_SLACK_WEBHOOK_URL=

# Google Chat notification settings
NUXT_ERROR_NOTIFY_GOOGLE_CHAT_ENABLED=false
NUXT_ERROR_NOTIFY_GOOGLE_CHAT_WEBHOOK_URL=
